{% extends 'base.html' %}
{% block title %}Azir{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Identifier</th>
      <th scope="col">Status</th>
      <th scope="col">Completed Tasks</th>
      <th scope="col">Recipient</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <th scope="row"><a href="/device/{{ device.id }}">{{ device.serial_no }}</a></th>
      <td>{{ device.status.short_name }}</td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{ (device.completed_tasks|length / (device.tasks|length or 1)) * 100 }}%">
            {{ device.completed_tasks|length }} / {{ device.tasks|length }}
          </div>
        </div>
      </td>
      <td>{{ device.recipient if device.recipient is not none }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}