{% extends "base.html" %}

{% block content %}
    <form action="create" method="post">
        <label for="serialNo" class="form-control">Identifier (Service Tag/Serial Number)</label>
        <input type="text" id="serialNo" class="form-control" placeholder="Optional" name="serial-number">

        <fieldset id="properties" class="mt-2">
            <legend>Properties</legend>
        </fieldset>
        <button type="button" class="btn btn-secondary" id="add-property">+ Add Property</button><br>

        <fieldset>
            <legend>Goals</legend>
            {% for goal in goals %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked name="goal{{ goal.id }}" id="goal{{ goal.id }}">
                <label class="form-check-label" for="goal{{ goal.id }}">{{ goal.name }}</label>
            </div>
            {% endfor %}
        </fieldset>

        <button type="submit" class="btn btn-primary mt-2">Create device</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        let counter = 0;

        function addProperty(key, value){
            counter++;
            const keyId = `key-${counter}`;
            const valueId = `value-${counter}`;
            $('#properties').append(`
                <div class="row mb-2">
                    <div class="col-3">
                        <label for="${keyId}" class="form-label">Property Key</label>
                        <input class="form-control" name="property" id="${keyId}" value="${key}">
                    </div>
                    <div class="col-9">
                        <label for="${valueId}" class="form-label">Property Value</label>
                        <input class="form-control" name="property" id="${valueId}" value="${value}">
                    </div>
                </div>
            `)
        }

        {% if copy_device %}{% for property in copy_device.properties %}
        addProperty("{{ property.key }}", "{{ property.value }}");
        {% endfor %}{% else %}
        addProperty("", "");
        {% endif %}

        $('#add-property').click(() => addProperty("", ""))
    </script>
{% endblock %}