{% extends "base.html" %}
{% block content %}
<form action="create" method="post">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>

    <label for="goal">Goal</label>
    <select class="form-select" id="goal" name="goal">
        {% for goal in goals %}
        <option value="{{ goal.id }}">{{ goal.name }}</option>
        {% endfor %}
        <option value="null">None</option>
    </select>

    <label for="operation" class="form-label">After Operation</label>
    <input class="form-control" list="operations" name="afterOperationName" id="operation" placeholder="Enter operation" required>
    <datalist id="operations">
        {% for operation in operations %}
        <option value="{{ operation.name }}"></option>
        {% endfor %}
        <option value="First"></option>
    </datalist>

    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description"></textarea>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% endblock %}